
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data

data/processed/

# Models
models/*.pkl
models/*.joblib

# Environment
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db